*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    overflow: hidden;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.info {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    color: white;
    z-index: 99;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.50) !important;
}

.info #intro{
    top: 6%;
    position: absolute;
    text-align: center;
    font-size: 250%;
}

.info #message{
    visibility: hidden;
    position: absolute;
    text-align: center;
    width: 40%;
    left: 50%;
    top: 58%;
    font-size: 18px;
    transform: translate(-50%, -10%);
}

.info #avatar {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 0);
    object-fit:scale-down;
    width:25%;
    height:25%;
}


.info #socialMediaLinks{
    position: absolute;
    width: 159px;
    left: 50%;
    top: 90%;
    transform: translate(-50%, 0);
}

.fa {
    font-size: 33px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}


.fa-github {
    background: #aa51cc;
    color: white;
}

.fa-twitter {
    background: #aa51cc;
    color: white;
}

.fa-linkedin{
    background: #aa51cc;
    color: white;
}
